@import "tailwindcss";
body {
  font-family: 'Rubik Variable', sans-serif;
  @apply antialiased;
}
/* Hover elevation effect */
.card {
  @apply relative h-full;
  animation: fadeIn 0.5s forwards;
}
.elevation-effect {
  @apply absolute inset-0 w-full h-full rounded-xl bg-transparent transition-all duration-500 ease-out;
}
.card:hover .elevation-effect {
  @apply translate-y-[-8px] shadow-[0_20px_80px_-10px_rgba(234,88,12,0.3)]
}
.card-content {
  @apply relative h-full rounded-xl overflow-hidden bg-gradient-to-br from-gray-800 to-gray-900 border border-gray-800 hover:border-orange-600/70 flex flex-col;
}
.glow-effect {
  @apply absolute inset-0 opacity-0 transition-opacity duration-500 bg-gradient-to-r from-orange-600/10 to-amber-500/10 rounded-xl
}
.card:hover .glow-effect {
  @apply opacity-100 
}
.img-container {
  @apply relative h-48 w-full overflow-hidden;
}
.img-container img {
  @apply object-cover w-full h-full transition-transform duration-700 ease-out;
}
.card:hover .img-container img {
  @apply scale-110
}
.img-container div {
  @apply absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/60 to-transparent opacity-70;
}
.card-info {
  @apply p-6 flex flex-col;
}
.card-title {
  @apply flex justify-between items-start mb-2;
}
.card-title h3 {
  @apply text-lg font-bold text-white transition-colors duration-300;
}
.card:hover .card-title h3 {
  @apply text-orange-400;
}
.card-info p {
  @apply text-gray-400 text-base mt-2 text-pretty transition-colors duration-300 min-h-[85px];
}
.card:hover .card-info p {
  @apply text-gray-300;
}
.icons-container {
  @apply flex flex-wrap gap-2 mt-4;
}
.action-buttons {
  @apply px-6 pb-6 pt-2 mt-auto;
}
.buttons {
  @apply flex gap-3 items-center w-full;
}
.link-demo {
  @apply flex-1 flex items-center justify-center gap-x-2 rounded-lg bg-orange-600 text-slate-100 hover:bg-orange-700 transition-colors duration-300 px-4 py-2 z-10;
}
.link-codigo {
  @apply flex-1 flex items-center justify-center gap-x-2 rounded-lg border border-gray-600 text-gray-200 hover:bg-gray-700 hover:text-white transition-colors duration-300 px-4 py-2 z-10;
}
.card:hover .link-codigo {
  @apply border-orange-500/50;
}
.bottom-gradient {
  @apply h-1 w-full bg-gradient-to-r from-orange-600 to-amber-500 transform scale-x-0 transition-transform duration-500 origin-left mt-auto;
}
.card:hover .bottom-gradient {
  @apply scale-x-100;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}