<section class="flex flex-col gap-y-6 py-20 bg-[#04052E] border-b border-gray-200/5 scroll-mt-14" id="proyectos">
    <h2 class="text-3xl md:text-4xl text-center font-semibold text-orange-400">
        Proyectos destacados
    </h2>
    <ul
        class="w-full flex flex-wrap items-center justify-center gap-4 text-slate-100 px-4"
    >
        <li>
            <button
                type="button"
                class="my-button-selector bg-slate-700 py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="all"
            >
                Todos
            </button>
        </li>
        <li>
            <button
                type="button"
                class="my-button-selector py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="react"
            >
                React
            </button>
        </li>
        <li>
            <button
                type="button"
                class="my-button-selector py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="nextjs"
            >
                Next.js
            </button>
        </li>
        <li>
            <button
                type="button"
                class="my-button-selector py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="typescript"
            >
                TypeScript
            </button>
        </li>
        <li>
            <button
                type="button"
                class="my-button-selector py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="astro"
            >
                Astro
            </button>
        </li>
        <li>
            <button
                type="button"
                class="my-button-selector py-2 px-6 rounded flex items-center justify-center text-center border border-gray-200/40 hover:bg-slate-600 transition-colors duration-200 cursor-pointer"
                data-tag="wordpress"
            >
                Wordpress
            </button>
        </li>
    </ul>
    <div
        id="projects-container"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl px-4 mx-auto"
    >
        <!-- Los proyectos se insertarán aquí dinámicamente -->
    </div>
</section>
<script src="/src/scripts/projects.ts"></script>
