---
import Header from "../components/Header.astro"
import "../styles/global.css";
// Supports weights 300-900
import '@fontsource-variable/rubik';

interface Props {
	title:string;
	description:string;
}
const { title,description } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/code-dark.svg" />
		<link rel="icon" type="image/svg+xml" href="/code-light.svg" media="(prefers-color-scheme:dark)" />
		<title>{title}</title>
		<meta
			name="description"
			content={description}
		/>
		<meta name="author" content="Gonzalo Haag" />
		<meta property="og:type" content="Portfolio">
		<meta property="og:title" content="Gonzalo Haag - Portfolio">
		<meta property="og:url" content="https://portfolio-gonzalo-haag.vercel.app/">
		<meta property="og:image" content="https://portfolio-gonzalo-haag.vercel.app/code-dark.svg">
		<meta property="og:description" content="Portfolio de Gonzalo Haag, desarrollador web especializado en Next.js, Prisma y PostgreSQL. Descubre mis proyectos, habilidades y experiencia en desarrollo de software.">
	</head>
	<body class="bg-slate-200">
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
